body{
    background-color: rgb(201, 85, 255);
    font-size: 18px;
}

p{
    font-weight: bold;
    font-size: 25px;
}
h1{
    color:green
}
/*Main container  */

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logoDiv{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.container{
    max-width: 40%;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid red; */
    padding: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-bottom-left-radius:120px;
    border-top-right-radius:120px;
    background-color: rgb(85,197,255);

}
/* this is the given text  css here*/
.keyboardKeys{
    max-width:620px;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    /* max-height: 80px; */
    font-size: 35px;
    /* word-spacing: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* this is for the input box */
input{
    max-width: 400px;
    height: 50px;
    background-color: aquamarine;
    margin-top: 50px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    font-size: 25px;
}


/*This is the restart button   */
button{
    width: 200px;
    height: 70px;
    font-size: 25px;
    /* padding: 5px; */
    border-radius: 15px;
    border-color: white;
    color:black;
    background-color: blueviolet;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
button:hover{
    background-color: rgb(0, 255, 98);
    cursor: pointer;
}
